<a href="https://colab.research.google.com/github/nagashreem363/Machine-Learning/blob/main/Column_transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [9]:
data=pd.read_csv('/content/ds_salaries.csv')
data

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder

In [11]:
transformer=ColumnTransformer(transformers=[('t1',OrdinalEncoder(categories=[['2020','2021','2022','2023'],['EX','EN','MI','SE']]),['work_year','experience_level']),
                               ('t2',OneHotEncoder(handle_unknown='ignore'),['employment_type','job_title','salary_currency','employee_residence','company_location','company_size'])])

In [12]:
new=transformer.fit_transform(data)
new

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 29850 stored elements and shape (3755, 272)>

In [ ]:
new.shape

(3755, 272)